html body{
    font-family: 'Hepta Slab', serif;
    font-size: 15px;
}

h2.hiding{
    display: none;
}

h3.hiding{
    display: none;
}

h4.hiding{
    display: none;
}

#navigation_bar{
    background-image: url("../img/header.png");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover;
    width: 100%;
    
    /* Needed to position the navbar */
    position: fixed;
}

#navbarSupportedContent{
    margin-left: 45%;
}

.nav-link a{
    color: #ffffff;
}

#navbarSupportedContent a:hover{
    text-shadow: 0 0 10px #ffffff; 
}

.dropdown-item{
    color: white;
}

.dropdown-menu a:hover {
    background-color: red;
}

.nav-link{
    font-size: 15px;
}

.myimages img{
    width: 100%;
    height: 30vw;
}

#three_images{
    padding-top: 110px;
    background: black;
    color: #ffffff;
}

.myimages h3 {
    text-align: center;
}

#left_col h2{
    padding-top: 15px;
    text-align: center;
}

.carousel-item img{
    width: 100%;
    height: 50vw;
}

#left_col li{
    margin-bottom: 15px;
}

#left_col{
    background-image: url("../img/body.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
}

#right_col{
    background-image: url("../img/right_body.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
}

/*Styling footer*/
.footer-social {
	background:url("../img/footer.png");
    background-size: cover;
	padding: 8px; 
    background-color: #414f5c;
    text-align: center;
	font-size: 18px;
	color:#ffffff;
}

.fa {
    font-size: 30px;
    color:white;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook:hover {
    color: #3B5998;

}

.fa-twitter:hover{
    color: #55ACEE;
}

.fa-google:hover {
    color: #dd4b39;

}

.fa-linkedin:hover {
    color:#007bb5;
    
}

.fa-youtube:hover {
    color: #bb0000;
    
}

.fa-instagram:hover {
   color: #125688;

}

@media(max-width: 1420px){
    #navbarSupportedContent{
        margin-left: 40%;
    }
}

@media(max-width: 1300px){
    #navbarSupportedContent{
        margin-left: 30%;
    }
}

@media(max-width: 1110px){
    #navbarSupportedContent{
        margin-left: 20%;
    }
}

@media(max-width: 980px){
    #navbarSupportedContent{
        margin-left: 0%;
    }
}
